@{
    var client = new WebClient();
    var json = client.DownloadString("https://bestsellers-acidlabs.herokuapp.com/random-bestseller.json");
    var products = Json.Decode(json);    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.3.min.js"></script>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function(){
                    location.reload();
                }, 10000);
            });
        </script>
        @foreach (var product in products)
        {
            <div>@product.name</div>
            <div>@product.url</div>
            <div>@product.price</div>
        }        
    </body>
</html>
